node_modules
npm-debug.log
**/node_modules
**/dist
**/build
**/.env
**/.env.production
**/.git
**/.vscode
**/uploads/*
!**/uploads/.gitkeep
**/forecast-service/venv
**/forecast-service/__pycache__
**/*.pyc
**/*.log
.DS_Store
Dockerfile*
docker-compose*
README.md
nginx.conf
